  <h1>Contact XYZ Inc</h1>
  <form method="POST" action="/contact">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your Name" /><br />
    <label for="email">eMail</label>
    <input <%= "class=\"error\" " if @error && @error.index('email') %>type="text" name="email" placeholder="Your email" /><br />
  <textarea cols="30" rows="10" name="message"></textarea><br />
  <input type="submit" />
  </form>
  <span id="console"><%= @msg %></span>