<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XYZ Inc</title>
</head>
<body>
  <h1>XYZ Inc</h1>
  <p>Please enter your username and password to continue.</p>
  <form method="POST" action="/login">
    <table>
      <tr>
        <td><label for="username">Username</label></td>
        <td><input name="username" type="text" placeholder="Enter your username" /></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input name="password" type="password" placeholder="Enter your password" /></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;"><input type="submit" /></td>
      </tr>
    </table>
  </form>
</body>
</html>