nav {
  width: 100%;
  background-color: darkgreen;
  color: #fff;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 0 30px;
}
nav li a,
nav li a:visited {
  color: #fff;
}
li.active {
  background-color: red;
  color: #fff;
}
.error {
  color: red;
  border: 3px dashed red;
}
